__pycache__/
*.pyc
experiments/logs/
experiments/results/
.env
.DS_Store
*.egg-info/
# Environments & data
mlops_env/
*.h5
data/
pcam/

# slurm outputs
slurm-*.out
output_*.txt

# Models
*.pth
checkpoints/
